# 데이터 타입

## > 숫자형
- 종류
    - 정수 : 0, 양수, 음수인 숫자
    - 실수 : 소수점을 포함하는 숫자
    - 8진수 : 0o 또는 0O(왼쪽 숫자0, 오른쪽 알파벳 o) 로 시작 : 0o34, 0o25
    - 16진수 (0x로 시작) : 0x2A, 0xFF

### 정수형

In [1]:
# 양수, 음수, 0
a = 10
b = -20
c = 0

In [3]:
# 정수 타입 : 타입(데이터 종류)를 확인하는 내장함수 type()
type(a)
type(b)
print(type(a), type(b), type(c))

<class 'int'> <class 'int'> <class 'int'>

# 실수형

In [7]:
# 양의 실수, 음의 실수 : float
a = 1.3
b = -2.4
c = 0.0

In [8]:
# 타입 확인
print(type(a), type(b), type(c))

<class 'float'> <class 'float'> <class 'float'>

## > 연산자
- 산술 : +, -, *, /, //(몫), %(나머지), **(제곱)
- 비교 : ==(값이 같은지), !=(값이 다른지), <=, >=, <, >
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

### 1) 산술 연산자 : 숫자를 계산하기 위한 문법 기호

In [11]:
# 더하기 : +
10 + 3 # 정수 + 정수 => 정수로 출력
13.3 + 2.4 # 실수 + 실수 => 실수
10 + 3.4 # 정수 + 실수 => 실수

13.4

In [13]:
# 빼기 : -
10 - 3 # 정수 - 정수 => 정수
3 - 7.7 # 정수 - 실수 => 실수

-4.7

In [16]:
# 나누기 : /
# 나누기 결과는 정수 / 정수 여도 실수로 간주됨
3 / 3
7 / 2
5 /  2.5 # 정수 / 실수도 당연히 가능

2.0

In [18]:
# 곱하기 : *
3 * 4
-3 * 5
(3 - 4) * 5

-5

In [19]:
# 정수의 몫만 반환 : //
# 나눗셈의 결과값보다 작은 정수중에 가장 큰 정수
# 음수
-5 // 4

-2

In [20]:
# 양수
4 // 3

1

In [21]:
# 정수 몫을 구하고 남은 나머지만 반환 : %
3 % 4

3

In [23]:
# 지수 : **
2 ** 3
2 ** 0.5

1.4142135623730951

### 2) 비교연산자 : 자료를 비교하기 위한 문법 기호
    - 결과가 숫자가 아닌 bool type의 결과를 가진다

> #### bool type
    - True : 0이 아닌 숫자, 참인 조건식 등
    - False : 0, 거짓인 조건식 등
- 값에 대한 비교 : ==, !=
- 크기에 대한 비교 : >, <, >=, <=

In [25]:
# 두 값이 같은지 비교 : ==
# (결과) 두 값이 같으면 True, 두 값이 다르면 False
0 == 0.0
type(0) == type(0.0)

False

In [26]:
# 두 값이 다른지 비교 : !=
# 두 값이 다르면 True, 같으면 False
type(0) != type(0.0)

True

In [27]:
# 두 값의 크기를 비교 : >=, <=, <, >
10 >= 3

True

### 3) 논리연산자
    - 여러 개의 조건식을 활용하기 위한 명령어
    - bool type 결과 반환 : True, False

In [31]:
# and 연산자 : 조건식1 and 조건식2
# 조건식1과 조건식2가 모두 True 라면 최종결과도 True
# 둘 중 하나만 False여도 최종 결과는 False
# 둘 다 False라면 최종 결과는 False
10 < 12 # True
0 > -3 # True
10 < 12 and 0 > -3 # 조건식 2개가 모두 True이기 때문에 결과도 True

True

In [34]:
# 숫자 0은 False, 이외의 모든 숫자는 True
# bool(자료)는 자료의 참, 거짓을 판단해줍니다.
bool(4)

True

In [35]:
# 0이 False로 사용되는 예시
bool(0 and 10 > 3) # 0 -> False, 10 > 3 -> True => and 연산자의 결과 : False

False

In [36]:
# or 연산자
# 조건식1 or 조건식2
# 둘 중 하나만 True여도 최종결과 True
# 둘 다 False 일 때 최종결과 False
bool(0 or 10 > 3)

True

##### 4) 할당연산자

- 변수 할당
- 누적 연산

In [37]:
# 변수명(왼쪽)에 변수값(오른쪽)을 할당/선언/저장/대입 : =
x = 10

In [39]:
# 숫자형의 누적합 +=
# result라는 변수에 누적합을 저장하기
result = 0
# result에 x만큼 더해서 저장하기 위해 원래 사용하던 코드
result += x # result + x
result

10

In [40]:
# 1 ~ 10 까지 누적합을 구해보세요 : 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
result = 0
# 반복문을 이용해 result 변수에 1 ~ 10 까지 누적해 더하는 코드
for i in range(1, 11) :
    result += i
print(result)

55

In [41]:
# 숫자형의 누적 차
result -= 1
result

54

In [42]:
# 누적 곱
result *= 2
result

108

### 1. 홍길동의 시험 성적 평균을 구하세요
        |  영어 80점  |  국어 72점  |  수학 90점  |  사회 66점  |

* 변수를 사용해서 과목의 평균을 구해보세요.
* 출력 양식 : <br>
총합 308 <br>
평균 77